body{
    background-color:silver;
    background-size:1400px 705px;
    background-image:url(http://www.twitterevolutions.com/bgs/colorful-smoke.jpg);
}
p{
    color:red;
    text-align:center;
    border:10px ridge blue;
    font-size:15px;
    font-family:'Ceviche One';
    padding-top:1px;
    margin-top:1px;
    text-align:center;
}
h2{
    text-align:center;
}